<h2>Showing Postal code with id: <strong><%=@postal.id%></strong></h2> 

<p><strong>Postalcode: </strong> <%= @postal.postalcode%></p>

<%= link_to "Edit", edit_postal_path(@postal)%> |
<%= link_to "Delete", postal_path(@postal), method: :delete, data: { confirm: "Are you sure?"} %> |
<%= link_to "Return to list of postal codes", postals_path%> |