<p id="notice"><%= notice %></p>

<h1>Delivery Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Fsa</th>
      <th>City</th>
      <th>Delivery day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @delivery_schedules.each do |delivery_schedule| %>
      <tr>
        <td><%= delivery_schedule.fsa %></td>
        <td><%= delivery_schedule.city %></td>
        <td><%= delivery_schedule.delivery_day %></td>
        <td><%= link_to 'Show', delivery_schedule %></td>
        <td><%= link_to 'Edit', edit_delivery_schedule_path(delivery_schedule) %></td>
        <td><%= link_to 'Destroy', delivery_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Delivery Schedule', new_delivery_schedule_path %>
