<p id="notice"><%= notice %></p>

<p>
  <strong>Fsa:</strong>
  <%= @delivery_schedule.fsa %>
</p>

<p>
  <strong>City:</strong>
  <%= @delivery_schedule.city %>
</p>

<p>
  <strong>Delivery day:</strong>
  <%= @delivery_schedule.delivery_day %>
</p>

<%= link_to 'Edit', edit_delivery_schedule_path(@delivery_schedule) %> |
<%= link_to 'Back', delivery_schedules_path %>
