<%= form_with(model: shape, local: true) do |form| %>
  <% if shape.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shape.errors.count, "error") %> prohibited this shape from being saved:</h2>

      <ul>
      <% shape.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fsa %>
    <%= form.text_field :fsa %>
  </div>

  <div class="field">
    <%= form.label :point_one_x %>
    <%= form.text_field :point_one_x %>
  </div>

  <div class="field">
    <%= form.label :point_one_y %>
    <%= form.text_field :point_one_y %>
  </div>

  <div class="field">
    <%= form.label :point_two_x %>
    <%= form.text_field :point_two_x %>
  </div>

  <div class="field">
    <%= form.label :point_two_y %>
    <%= form.text_field :point_two_y %>
  </div>

  <div class="field">
    <%= form.label :point_three_x %>
    <%= form.text_field :point_three_x %>
  </div>

  <div class="field">
    <%= form.label :point_three_y %>
    <%= form.text_field :point_three_y %>
  </div>

  <div class="field">
    <%= form.label :point_four_x %>
    <%= form.text_field :point_four_x %>
  </div>

  <div class="field">
    <%= form.label :point_four_y %>
    <%= form.text_field :point_four_y %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
