<p id="notice"><%= notice %></p>

<h1>Shapes</h1>

<table>
  <thead>
    <tr>
      <th>Fsa</th>
      <th>Point one x</th>
      <th>Point one y</th>
      <th>Point two x</th>
      <th>Point two y</th>
      <th>Point three x</th>
      <th>Point three y</th>
      <th>Point four x</th>
      <th>Point four y</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shapes.each do |shape| %>
      <tr>
        <td><%= shape.fsa %></td>
        <td><%= shape.point_one_x %></td>
        <td><%= shape.point_one_y %></td>
        <td><%= shape.point_two_x %></td>
        <td><%= shape.point_two_y %></td>
        <td><%= shape.point_three_x %></td>
        <td><%= shape.point_three_y %></td>
        <td><%= shape.point_four_x %></td>
        <td><%= shape.point_four_y %></td>
        <td><%= link_to 'Show', shape %></td>
        <td><%= link_to 'Edit', edit_shape_path(shape) %></td>
        <td><%= link_to 'Destroy', shape, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shape', new_shape_path %>
