<p id="notice"><%= notice %></p>

<p>
  <strong>Fsa:</strong>
  <%= @shape.fsa %>
</p>

<p>
  <strong>Point one x:</strong>
  <%= @shape.point_one_x %>
</p>

<p>
  <strong>Point one y:</strong>
  <%= @shape.point_one_y %>
</p>

<p>
  <strong>Point two x:</strong>
  <%= @shape.point_two_x %>
</p>

<p>
  <strong>Point two y:</strong>
  <%= @shape.point_two_y %>
</p>

<p>
  <strong>Point three x:</strong>
  <%= @shape.point_three_x %>
</p>

<p>
  <strong>Point three y:</strong>
  <%= @shape.point_three_y %>
</p>

<p>
  <strong>Point four x:</strong>
  <%= @shape.point_four_x %>
</p>

<p>
  <strong>Point four y:</strong>
  <%= @shape.point_four_y %>
</p>

<%= link_to 'Edit', edit_shape_path(@shape) %> |
<%= link_to 'Back', shapes_path %>
