<p id="notice"><%= notice %></p>

<p>
  <strong>Fsa:</strong>
  <%= @shape.fsa %>
</p>

<p>
  <strong>Btm left x:</strong>
  <%= @shape.btm_left_x %>
</p>

<p>
  <strong>Btm left y:</strong>
  <%= @shape.btm_left_y %>
</p>

<p>
  <strong>Btm right x:</strong>
  <%= @shape.btm_right_x %>
</p>

<p>
  <strong>Btm right y:</strong>
  <%= @shape.btm_right_y %>
</p>

<p>
  <strong>Top right x:</strong>
  <%= @shape.top_right_x %>
</p>

<p>
  <strong>Top right y:</strong>
  <%= @shape.top_right_y %>
</p>

<p>
  <strong>Top left x:</strong>
  <%= @shape.top_left_x %>
</p>

<p>
  <strong>Top left y:</strong>
  <%= @shape.top_left_y %>
</p>

<p>
  <strong>Polygon:</strong>
  <%= @shape.polygon %>
</p>

<p>
  <strong>Point:</strong>
  <%= @shape.point %>
</p>

<%= link_to 'Edit', edit_shape_path(@shape) %> |
<%= link_to 'Back', shapes_path %>
