<%= form_with(model: weekday, local: true) do |form| %>
  <% if weekday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(weekday.errors.count, "error") %> prohibited this weekday from being saved:</h2>

      <ul>
      <% weekday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :day %>
    <%= form.text_field :day %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
