<%= form_with(model: polygon, local: true) do |form| %>
  <% if polygon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(polygon.errors.count, "error") %> prohibited this polygon from being saved:</h2>

      <ul>
      <% polygon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fsa %>
    <%= form.text_field :fsa %>
  </div>

  <div class="field">
    <%= form.label :fsa_polygon %>
    <%= form.text_field :fsa_polygon %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
