<p id="notice"><%= notice %></p>

<p>
  <strong>Fsa:</strong>
  <%= @delivery.fsa %>
</p>

<p>
  <strong>City:</strong>
  <%= @delivery.city %>
</p>

<p>
  <strong>Delivery day:</strong>
  <%= @delivery.delivery_day %>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
