<%= form_with(model: fsa, local: true) do |form| %>
  <% if fsa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fsa.errors.count, "error") %> prohibited this fsa from being saved:</h2>

      <ul>
      <% fsa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fsacode %>
    <%= form.text_field :fsacode %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
