<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @place.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @place.longitude %>
</p>

<script>
  var data = <%= @place.latitude.to_s %>
  console.log(data);
</script>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>

<%= image_tag "https://maps.google.com/maps/api/staticmap?size=450x300$sensor=false&zoom=16&markers=#{@place.latitude}%2C#{@place.longitude}" %>
