<!DOCTYPE html>
<html>
  <head>
    <title>FSATest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_SERVER_KEY']}" %>
    <%= javascript_include_tag "https://unpkg.com/@turf/turf/turf.min.js" %>
  </head>

  <body>
    <%= render 'layouts/messages'%>
    <%= yield %>
  </body>

  <footer>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js' %>
  </footer>
</html>
