<!DOCTYPE html>
<html>
  <head>
    <title>FSATest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_SERVER_KEY']}" %>
    <%= javascript_include_tag "https://unpkg.com/@turf/turf/turf.min.js" %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render 'layouts/messages'%>
    <%= yield %>
  </body>
</html>
